div(class="reddit-comment")
	div(class="form-group")
		<label class="label-control warning">maximum number of comments
		div(class="range range-node")
			input(type="range" min="100" max="10000" value="2000" step="100" id="rdCommentCount" onchange="rdCommentCount_rangeNode.value=value")
			<output id="rdCommentCount_rangeNode">2000</output>
	div(class="form-group")
		<label class="label-control">Select Fields</label>
		br
		select(multiple,id="redditCommentFields",class="fields")
			option(value="comment_author_name") comment author name
			option(value="archived") archived
			option(value="body") body
			option(value="body_html") body html
			option(value="subreddit_display_name") subreddit display name
			option(value="created_utc") created utc
			option(value="comment_created") comment created
			option(value="controversiality") controversiality
			option(value="comment_downs") comment downs
			option(value="edited") edited
			option(value="gilded") gilded
			option(value="comment_id") comment_id
			option(value="link_id") link_id
			option(value="link_author") link author
			option(value="link_title") link title
			option(value="link_permalink") link permalink
			option(value="link_url") link url
			option(value="comment_over_18") comment over 18
			option(value="parent_id") parent id
			option(value="quarantine") quarantine
			option(value="saved") saved
			option(value="comment_score") comment score
			option(value="subreddit_id") subreddit id						
			option(value="subreddit_display_name") subreddit display name						
			option(value="subreddit_name_prefixed") subreddit name prefixed
			option(value="score_hidden") score hidden 					
			option(value="stickied") stickied				
			option(value="subreddit_type") subreddit type					
			option(value="comment_ups") comment ups		