div(id="query-builder-container", class="row", style="display:none;")
		h3 Construct Query
		<div id="builder"></div>
		button(id="btn-get",class="btn btn-danger btn-block", data-target="plugins") Set Query
	
script(src="bootstrap/js/customized/query_boolean.js")