div(id="query-builder-container" class="row")
		<div id="builder"></div>
		<button id="btn-get" class="btn btn-primary pull-right" data-target="plugins">
			Get rules
		</button>
	
script(src="bootstrap/js/customized/query_boolean.js")