//div(id="query-builder-container", class="row", style="display:none;")
		h3 Boolean Query Constructor
		<div id="builder"></div>
		button(id="btn-get",class="btn btn-primary btn-block", data-target="plugins") Set Query
	

div(id="query-builder-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog", style="width:1000px;")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h3(class="modal-title", id="modal-title", style="text-align:left;") Boolean Query Constructor
			
			div(class="modal-body")
				div(id="modal-message")
					<div id="builder"></div>
				h4(id="booleanQueryPreview")
			div(class="modal-footer")
				p(id="booleanQueryPreview")
				button(id="btn-get",class="btn btn-yes", data-target="plugins") Apply
				button(class="btn btn-no",data-dismiss="modal") Close

script(src="bootstrap/js/customized/query_boolean.js")