div(class="col-md-12 col-lg-8 col-lg-offset-2")
	<div id="builder"></div>
	<div class="btn-group">
		<button id="btn-get" class="btn btn-primary parse-json" data-target="plugins">Get rules</button>
	</div>
script(src="bootstrap/js/customized/query_boolean.js")