div(class="col-md-12 col-lg-8 col-lg-offset-2")
	<div id="builder">
		<div class="btn-group">
			<button class="btn btn-warning reset" data-target="plugins">Reset</button>
			<button class="btn btn-success set-json" data-target="plugins">Set rules</button>
			<button class="btn btn-primary parse-json" data-target="plugins">Get rules</button>
		</div>
	</div>
script(src="bootstrap/js/customized/query_boolean.js")