doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- Style sheets! -->
		link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
		//link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
		link(href="bootstrap/css/customized/search.css",rel="stylesheet")
		link(href="bootstrap/css/customized/global.css",rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300")
		link(href="bootstrap/css/bootstrap-multiselect.css", rel="stylesheet")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css", rel="stylesheet")
		link(href="jQuery-QueryBuilder-master/dist/css/re_query-builder.default.css", rel="stylesheet")
		
		<!-- JQUERY -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="bootstrap/js/bootstrap-multiselect.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
		
		<!-- customized -->
		script(src="bootstrap/js/customized/query_pb.js")
		script(src="bootstrap/js/customized/query_formValid.js")
		script(src="bootstrap/js/customized/query_submit.js")
		script(src="bootstrap/js/customized/warning_trigger.js")
		script(src="bootstrap/js/customized/modal_overlay.js")
		script(src="jQuery-QueryBuilder-master/dist/js/re_query-builder.standalone.js")
		
	body(onload="init();")
		<!-- top bar -->
		include ../components/topbar.pug
		include ../components/export.pug
		include ../components/terminate.pug
		include ../components/warning.pug
		include ../components/clientside-warning.pug
		include ../components/sitemap.pug
		include ../components/cookie.pug
	
		<!-- auth -->
		div(id="auth-panel")
			p(style="font-size:50px; margin:30px 30px; color:white;") Authorization
			
			div(class="twitter-auth" id="twitter-auth")
				a(class="button") 
					img(src='bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
					| Authorize with your Twitter account
				button(class="button-later") later
			div(class="reddit-auth" id="reddit-auth")
				a(class="button") 
					img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
					| Authorize with your Reddit account
				button(class="button-later") later
		
		div(class="searchPage",id="searchPage",style="display:none;")
			<!-- logo -->
			div(class="row" id="header",style="")
				img(src="bootstrap/img/logo/queryPage-logo.png",width="500px",style="display:block;margin:auto auto;")
			
			<!-- secondary auth panel -->
			div(class="row",id="second-auth",style="display:block;margin:auto auto;margin-top:50px;text-align:center;color:#333;")
				div(id="authorized", style="display:inline-block;")
					p(style="display:inline-block;margin:10px 10px;") Click the icon to authorize:
					div(class="twitter-auth",style="display:inline-block;")
						a 
							img(src='bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
					div(class="reddit-auth",style="display:inline-block;")
						a 
							img(src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
				div(id="unauthorized",style="display:inline-block;")
					p(style="display:inline-block;margin:10px 10px;") You have already authorized:
					img(id="twitter-authorized", src='bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px;display:none;")
					img(id="reddit-authorized",src='bootstrap/img/logo/reddit-sm-logo.png', width="30px",height="30px", style="margin-right:10px;display:none;")
			
			<!-- boolean panel -->
			include ./booleanBuilder.pug
		
			<!-- search --->
			div(class="row")
				div(id="tabs")
					select(class="selectpicker show-tick" id="social-media" title="Choose a Data Source..." data-width="220px")
						optgroup(label="Search Twitter")
							option(data-icon="glyphicon-search" value="queryTweet" disabled) Tweets
							option(data-icon="glyphicon-user" value="queryUser" disabled) Twitter Users
						optgroup(label="Search Reddit")
							option(data-icon="glyphicon-search" value="queryReddit" disabled) Search Reddit Posts
							option(data-icon="glyphicon-file" value="redditPost" disabled) Posts in Subreddit
							option(data-icon="glyphicon-comment" value="redditComment" disabled) Comments in Subreddit
						optgroup(label="Partial Historical Database")
							option(data-icon="glyphicon-envelope" value="streamTweet") Streamed Tweets
							option(data-icon="glyphicon-envelope" value="pushshiftPost") Historical Reddit Posts
							option(data-icon="glyphicon-comment" value="pushshiftComment") Historical Reddit Comments
					
					include searchbox.pug
						
			<!-- rendering -->
			div(id="grid")
			div(id="img-container")
								
		<!-- popup modal save -->
		div(id="save" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title")
							span(class="glyphicon glyphicon-floppy-save" style="font-size:20px;margin-left:5px") 
							| Save the result 
					
					div(class="modal-body" style="text-align:center;vertical-aligcd :middle;")
						form(class="form-horizontal")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Filename
								div(class="col-md-7 col-md-7 col-xs-12")
									input(class="form-control" id="sn-filename" placeholder="filename")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Downloadable Files
								div(class="col-md-7 col-md-7 col-xs-12")
									div(id="display-savefiles")
						div(class="loading" style="display:none")
							img(src="bootstrap/img/gifs/loading2.gif", width="15%", height="15%", style="display:block; margin-left:auto; margin-right:auto; margin-top:10px")
					div(class="modal-footer")
						button(class="btn btn-default", id="saveButton", style="background-color:#ea4a36;color:white;border-style:hidden") Save
						button(class="btn btn-default",style="background-color:#1e325a;color:white;border-style:hidden", data-dismiss="modal") Close
		
		<!-- popup modal download-->
		div(id="success" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
			div(class="modal-dialog", style="width:800px;")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title" id="modal-title") Download Your Search Results
						p (Hot keys: <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>D</kbd> )
						
					div(class="modal-body" style="vertical-align:middle;font-size:20px;")
						div(id="citation-notice")
							p <b>Thank you for using our tool, if you use these results please cite it:</b><br>
							ul
								li Yun, J. T., Wang, C., Troy, J., Vance, N. P., Marini, L., Booth, R., Nelson, T., Hetrick, A., & Hodgkins, H. 
									|(September, 2017) – Social Media Macroscope, <u>http://socialmediamacroscope.org</u>
							p <b>If you are using Historical Reddit data, please also cite this:</b><br>
							ul
								li Jason Baumgartner, PUSHSHIFT.IO, <u>https://pushshift.io</u>
							button(id="citation-notice-btn") click to continue
						div(id="modal-download",style="display:none;")
						p(id="download-note",style="display:none;") <b>NOTE</b>: Your search results are saved in your home directory. You can either <b>download</b> here; 
							| or go to any of the analytics tools --> <b>select from your folder</b>;
							| or review, manage and download it in the <b>history</b> page
							| If you accidentally close this modal window, you can click <b>export</b> button in this page to resume.
						p(id="download-note",style="display:none;") <b>Example of usage:</b>
						img(src="bootstrap/img/gifs/gotoAnalytics.gif",id="gotoAnalytics-demo",style="display:none;") 
						script.
							$("#citation-notice-btn").click(function(){
								$("#citation-notice").hide('slow');
								$("#modal-download").show('slow');
								$("#download-note").show('slow');
								$("#gotoAnalytics-demo").show('slow');
								$(".modal-footer.download").show('slow');
							});
						
					div(class="modal-footer download",style="display:none;")
						a(href="./", class="btn btn-primary",style="background-color:#ea4a36;border-style:hidden") Go To Analytics
						a(href="history", class="btn btn-primary", style="background-color:#1e325a;border-style:hidden") Review in History
								
		<!-- side bar HELP-->
		div(class="documentation",id="documentation")
			iframe(id="docIframe", src="graphql-doc/schema/index.html",width="100%",scrolling="yes",style="padding-top: 40px;margin:0 0;")
							
					
		script(src="bootstrap/js/customized/query_auth.js")
		script(src="bootstrap/js/customized/detect_cookie.js")
		script(src="bootstrap/js/customized/hotkeys.js").
		
							
							
							
