<!----------- Footer ------------>
footer(class="footer-bs")
	div(class="row")
		div(class="col-md-2 footer-logo")
			img(src="/bootstrap/img/logo/smile-logos/small-logo3.png",width="60%",style="float:right")
		div(class="col-md-3 footer-brand")
			h4 Introduction 
			p 
				| SMILE is currently being deployed as a standalone tool in HubZero. 
				| Available tools currently include features for social media data ingestion, data pre-processing, 
				| and data analysis. Results can be downloaded by the user. Previous executions are stored by the 
				| application. 
			p © 2017 University of Illinois at Urbana Champaign, Technology Services, All rights reserved
		div(class="col-md-2 footer-nav") 
			h4 Navigation 
			ul(class="list")
				li 
					a(href="https://techservices.illinois.edu/news/2015/telling-compelling-stories-social-media-analytics-team",target="_blank") About Us
				li 
					a(href="#") Terms & Condition
		div(class="col-md-2 footer-power")
			h4 Powered By
			ul
				li 
					a(href="https://www.elastic.co/",target="_blank") ElasticSearch
				li 
					a(href="https://hubzero.org/",target="_blank") Hubzero	
				li 
					a(href="https://nodejs.org/en/",target="_blank") NodeJS
				li 
					a(href="https://www.python.org/",target="_blank") Python  
				li 
					a(href="https://twitter.com/",target="_blank") Twitter
				
											
		div(class="col-md-3 footer-ns")
			h4 Comment
			p We would appreciate any comments or suggestions that will help us to improve the SMILE application 
			p
				div(class="input-group")
					input(type="text", class="form-control", placeholder="Help us make SMILE better!")
					<span class="input-group-btn">
						<button class="btn btn-default" type="button"><span class="glyphicon glyphicon-envelope"></span></button>
					</span>