nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
				
		div(id="navbar",class="navbar-collapse collapse")
			if parent
				ul(class="nav navbar-nav navbar-left")
					li
						a(href=parent,style="font-size:14px;color:white;background-color:#ffb804;margin:10px 10px;border-radius:30px;padding:6px 20px;") 
							span(class="glyphicon glyphicon-step-backward")
							| Return To Analytics
						

			ul(class="nav navbar-nav navbar-right")
				li
					a(href="/history" style="font-size:14px;color:white;background-color:#7fbb03;margin:10px 10px;border-radius:30px;padding:6px 20px;")
						span(class="glyphicon glyphicon-time")
						| History
				li 
					a(href="/query" style="font-size:14px;color:white;background-color:#428bca;margin:10px 10px;border-radius:30px;padding:6px 20px;")
						span(class="glyphicon glyphicon-search")
						| Query
					 
			form(class="navbar-form navbar-right")
				input(type="text" class="form-control" placeholder="Search within the tool...",style="border-radius:30px;")