doctype html
html
	head
		link(href="../bootstrap/css/bootstrap.css", rel="stylesheet")
		style(type="text/css").
			body{
				padding-top:40px;
				padding-bottom:40px;
				background-image: url("../bootstrap/img/logo/sklearn-logo.png");
				background-size: 250px;
				background-repeat: repeat;
				background-color:rgba(0,0,0,.5);
			}
			.upload{
				position:absolute;
				left: 50%;
				top: 40%;
				transform: translate(-50%, -50%);
				max-width: 800px;
				padding: 19px 29px 29px;
				margin: 0 auto 20px;
				background-color: #fff;
				border: 1px solid #e5e5e5;
				border-radius: 10px;
				box-shadow: 0 1px 2px rgba(0,0,0,.05);
			}
			.upload .checkbox {
				margin-bottom: 10px;
			}
			.upload input[type="text"] {
				font-size: 16px;
				height: auto;
				margin-bottom: 15px;
				padding: 7px 9px;
			}
			.encode{
				width: 70px;
			}
	
		script(type='text/javascript').
			function addFields(){
				
				var container = document.getElementById('container');
				
				// if no input then don't allow to add more fields
				var children = container.childNodes;
				//console.log(children[children.length-1].value);
				if (children[children.length-1].value!==''){
					var input = document.createElement("input");
					input.type="text";
					input.name="encode";
					input.className="encode";
					input.placeholder="header";
					container.appendChild(input);
				}
			}
				

block content
	form(action='/sklearn/predict', name='sklearn', method='post',enctype="multipart/form-data",class="upload")
		h2(align="center") SUPERVISED LEARNING predict
		table(class="table table-striped")
			
			tr
				th upload predict data (.csv)
				td <label class="btn btn-default" for="browse">
					<input id="browse" type="file" name="files"/>
				</label>
			tr
				th upload trained classification model (.pickle)
				td <label class="btn btn-default" for="browse">
					<input id="browse" type="file" name="files"/>
				</label>
			tr
				th categorical columns you wish to transform
				td  <div id="container">
						<input type="button" id="add_form_field" onclick="addFields();" value="add" class="btn btn-default"/> 
						<input type="text" name="encode" class="encode" placeholder="header" />
				</div>
			
		<div class="col-md-3 text-center"> 		
			button(type='submit', class='btn btn-primary') PREDICT 
		</div>