div(id="aws-batch" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h3(class="modal-title", id="modal-title", style="text-align:left;") Non-realtime Computation
			div(class="modal-body form")
				div(class="form-group")
					p The algorithm or dataset you selected exceeds the limitation for realtime process.
						|  We will have to place this on a job queue.
						|  Once your computation job has succeeded, we will email you with instructions to review your results.
					img(src="bootstrap/img/gifs/warning.gif",style="width:15px;")
					p(style="display:inline;color:red;")
						b You may feel free to leave this page or close your browser.
							|  BUT DO NOT TERMINATE THIS SESSION AFTER SUBMITTING THIS JOB!
				div(class="form-group")
					label(class="control-label col-md-4 col-md-4 col-xs-12") Dataset
					div(class="col-md-8 col-md-8 col-xs-12")
						input(class="form-control dataset",disabled)
				div(class="form-group")
					label(class="control-label col-md-4 col-md-4 col-xs-12") Number of posts
					div(class="col-md-8 col-md-8 col-xs-12")
						input(class="form-control length",disabled)

				if enableEmail === true
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12") Email Address
						div(class="col-md-8 col-md-8 col-xs-12")
							input(id="batch-email-alert", class="form-control", type="email", name="email-alert")

			div(class="modal-footer")
				button(class="btn btn-yes", onclick="ajaxSubmit(`#analytics-config`,`batch`)") Submit

div(id="aws-batch-confirmation", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-body confirmation")
				img(src="bootstrap/img/gifs/success.gif", width="80px")
				p Your request has been submitted. You will receive an email and further instruction from us once it's done!
			div(class="modal-footer")
				button(class="btn btn-no", data-dismiss="modal") Close	

script(src="bootstrap/js/customized/view_aws_batch.js")
