div(id="clowder-login-modal" class="modal fade" role="dialog" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				img(src="bootstrap/img/logo/clowder-bg-logo.png",width="40%", style="display:block;margin:auto auto;")
			div(class="modal-body" style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
						div(class="control-group")
							label(class="control-label") Username
							input(type="email", class="form-control", id="clowderEmail", placeholder="Use your registered Email address")
						div(class="control-group")
							label(class="control-label") Password
							input(type="password", class="form-control", id="clowderPassword", placeholder="Password")
			div(class="modal-footer")
				button(class="btn btn-primary",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px", onclick="submit_clowder_login();")
					span(class="glyphicon glyphicon-log-in")
					| Login

div(id="clowder-new-dataset",class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content",style="width:800px;")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				img(src="bootstrap/img/logo/clowder-bg-logo.png", width="40%", style="display:block;margin:auto auto;")
			div(class="modal-body", style="vertical-align:middle;margin-left:20px;margin-right:20px;overflow:auto;")
				div(id="modal-message")
					div(class="control-group")
						label(class="control-label") Dataset Title (*)
						input(type="text", class="form-control", id="datasetTitle", placeholder="A short name")
					div(class="control-group")
						label(class="control-label") Descriptions
						textarea(class="form-control", rows="5", style="resize:none;", id="datasetDesc", placeholder="A longer description")
					div(class="control-group", id="datasetMeta")
						label(class="control-label") Add Metadata
						select(class="form-control")
							option(value="Please Select...") Please Select...
							option(value="CSDMSStandardName") CSDMS Standard Name
							option(value="DateandTime") Date and Time
							option(value="FundingInstitution") Funding Institution
							option(value="GeoJSON") GeoJSON
							option(value="GrantNumber") ODM2 Variable Name
							option(value="PrimaryInitialPublication") Primary/Initial Publication
							option(value="PrincipalInvestigator") Principal Investigator(s)
							option(value="References") References
							option(value="RelatedPublications") Related Publications
							option(value="SASSpatialGeocode") SAS Spatial Geocode
							option(value="SASVariableName") SAS Variable Name
							option(value="TimePeriods") Time Periods
							option(value="Unit") Unit
					div(id="datasetMeta-block")
					div(class="control-group")
						label(class="control-label") Add Tags
						input(type="text", class="form-control", id="datasetTags", data-role="tagsinput", placeholder="Type, Enter, Backspace, L/R")
			div(class="modal-footer")
				div(class="clowder-dataset-block")
					button(class="btn btn-danger",id="clowder-next", onclick="create_clowder_dataset();") Create
								
div(id="clowder-modal" class="modal fade" role="dialog" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				img(src="bootstrap/img/logo/clowder-bg-logo.png",width="40%", style="display:block;margin:auto auto;")
			div(class="modal-body" style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					// dataset!!!
					div(class="clowder-dataset-block")
						div(class="control-group")
							label(class="control-label") Select a dataset
							select(class="form-control" id="selectDataset")
					// files!!!
					div(class="clowder-files-block", style="display:none;")
						div(class="control-group")
							label(class="control-label") Dataset ID (*)
							input(type="text", class="form-control", id="datasetID", disabled)
						div(class="control-group")
							label(class="control-label") Select files to upload
							div(id="clowder-files-list")
							
			div(class="modal-footer")
				div(class="clowder-dataset-block")
					button(class="btn btn-danger", id="clowder_next", onclick="submit_clowder_dataset();")
						span(class="glyphicon glyphicon-chevron-right")
						| Next
				div(class="clowder-files-block", style="display:none;")
					button(class="btn btn-primary", onclick="prev_clowder_dataset();")
						span(class="glyphicon glyphicon-chevron-left")
						| Prev
					button(class="btn btn-danger", onclick="submit_clowder_files();")
						span(class="glyphicon glyphicon-upload")
						| Upload
						
div(id="clowder-confirmation", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content",style="width:650px;")
			div(class="modal-body",style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					img(src="bootstrap/img/gifs/success.gif", class="export-success", width="80px")
					p(style="font-size:30px;", id="clowder-message")
					div(id="file-links")
			div(class="modal-footer")
				button(class="btn btn-default",style="background-color:#1e325a;color:white;border-style:hidden",data-dismiss="modal") Close	
										
script(src="bootstrap/js/customized/view_clowder.js")