div(id="cookie-alert" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				h3(class="modal-title" id="modal-title" style="text-align:left;") Please Enable Your Cookie!
			
			div(class="modal-body" style="vertical-align:middle;margin-left:20px; margin-left:20px;overflow:auto;")
				div(class="form-group")
					div(class="col-md-1 col-md-1 col-xs-12")
						img(src="bootstrap/img/logo/chrome.png",width="40px")
					div(class="col-md-11 col-md-11 col-xs-12")
						p(style="font-size:18px;") <b>Chrome user</b> please set your cookie refer to 
							<a href="https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en" target="_blank">https://support.google.com/accounts/answer/61416?co=GENIE.Platform%3DDesktop&hl=en</a>
				div(class="form-group")
					div(class="col-md-1 col-md-1 col-xs-12")
						img(src="bootstrap/img/logo/firefox.png",width="40px")
					div(class="col-md-11 col-md-11 col-xs-12")
						p(style="font-size:18px;") <b>Firefox user</b> please refer to the instruction here: 
							<a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
			
			div(class="modal-footer")
				button(class="btn btn-default",data-dismiss="modal") Close
