<!----------- Footer ------------>
footer(class="footer-bs")
	div(class="row")
		div(class="col-md-2 footer-logo")
			img(src="bootstrap/img/logo/smile-logos/small-logo3.png",width="60%",style="float:right")
		div(class="col-md-4 footer-brand")
			h4 Introduction 
			p 
				| SMILE is currently being deployed as a standalone tool in HubZero. 
				| Available tools currently include features for social media data ingestion, data pre-processing, 
				| and data analysis. Results can be downloaded by the user. Previous executions are stored by the 
				| application. 
			p © 2017 University of Illinois at Urbana Champaign, Technology Services, All rights reserved
		div(class="col-md-2 footer-nav")
			h4 Navigation 
			ul(class="list")
				li 
					a(href="https://socialmediamacroscope.org/aboutus",target="_blank") About Us
				li 
					a(href="https://socialmediamacroscope.org/about/terms", target="_blank") Terms of Use

		div(class="col-md-3 footer-ns")
			h4 Comment
			p Thank you for helping us make SMILE better! Please Leave us your suggestions for improvement by submit a support ticket.
			a(href="https://socialmediamacroscope.org/feedback/report_problems",target="_blank")
				button(class="btn btn-yes") Submit Ticket
