div(id="image-crawler" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h3(class="modal-title", id="modal-title", style="text-align:left;") Collect images

			div(class="modal-body form")
				div(class="modal-message")
					div(class="form-group")
						p Once you submit the request, we will place it on a job queue.
							| Further instructions will be sent to you via email once the collection is completed.
						img(src="bootstrap/img/gifs/warning.gif", style="width:15px;")
						p(style="display:inline;color:red;")
							b You may feel free to leave this page or close your browser.
								| BUT DO NOT TERMINATE THIS SESSION AFTER SUBMITTING THIS JOB!
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12") Dataset
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control dataset", disabled)
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12") Number of posts
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control length")
					if enableEmail === true
						div(class="form-group")
							label(class="control-label col-md-4 col-md-4 col-xs-12") Email Address
							div(class="col-md-8 col-md-8 col-xs-12")
								input(class="form-control email-alert", type="email", name="email-alert")
			div(class="modal-footer")
				button(class="btn btn-yes", id="imgCrawler") Start Collecting


div(id="image-crawler-confirmation", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-body confirmation")
				div(class="modal-message")
					img(src="bootstrap/img/gifs/success.gif", width="80px")
					p Your request for the collecting the images has been sent. You will receive an email from us once it's done!
			div(class="modal-footer")
				button(class="btn btn-no", data-dismiss="modal") Close

div(id="image-crawler-exist", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-body confirmation")
				div(id="modal-message")
					img(src="bootstrap/img/gifs/warning.gif", width="80px")
					p You have already collected images for this dataset. Do you still want to proceed?
			div(class="modal-footer")
				button(class="btn btn-yes", id="imgCrawlerYes") Yes
				button(class="btn btn-no", id="imgCrawlerNo") No


script(src="bootstrap/js/customized/view_image_crawler.js")
