div(id="reddit-expand" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h3(class="modal-title", id="modal-title", style="text-align:left;") Gather the replies for each Reddit Post?
			
			div(class="modal-body" style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					p Your selected dataset contains hundreds/thousands Reddit post, and for each reddit post, it might have thousands of comments and replies. 
						| This process is very time consuming. Once you submit the request, we will have to place this on a job queue.
						| We will email you with further instruction when the collection is completed.
					div(class="form-group")
						div(class="col-md-4 col-md-4 col-xs-12")
							img(src="bootstrap/img/logo/no-termination.png",style="width:150px; margin-top:5px;") 
						div(class="col-md-8 col-md-8 col-xs-12")
							img(src="bootstrap/img/gifs/warning.gif",style="width:10px;") 
							p(style="display:inline;color:red;") You may feel free to leave this page or close your browser. BUT DO NOT TERMINATE THIS SESSION AFTER SUBMITTING THIS JOB!
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Dataset
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control dataset",disabled)
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Number of posts
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control length",disabled)
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Email Address
						div(class="col-md-8 col-md-8 col-xs-12")
							input(id="email-alert", class="form-control", type="email", name="email-alert")
			div(class="modal-footer")
				button(class="btn btn-primary",id="rdCommentReq",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px") Request comments for each Post


div(id="reddit-expand-confirmation", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			//div(class="modal-header")
			div(class="modal-body",style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					img(src="bootstrap/img/gifs/success.gif", class="export-success", width="80px")
					p(style="font-size:30px;") Your request for the Reddit comments has been sent. You will receive an email from us once it's done!
			div(class="modal-footer")
				button(class="btn btn-default",style="background-color:#1e325a;color:white;border-style:hidden",data-dismiss="modal") Close	
				
div(id="reddit-expand-exist", class="modal fade", role="dialog", data-backdrop="static", data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-body",style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					img(src="bootstrap/img/gifs/warning.gif", class="export-success", width="80px")
					p(style="font-size:30px;") You have already collected comments for this dataset. Do you still want to proceed?
			div(class="modal-footer")
				button(class="btn btn-default",style="background-color:#ea4a36;color:white;border-style:hidden",id="rdCommentYes") Yes	
				button(class="btn btn-default",style="background-color:#1e325a;color:white;border-style:hidden",id="rdCommentNo") No	
			
				
script(src="bootstrap/js/customized/view_reddit_expand.js")
	