// client side warning
div(id="reddit-expand" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false", style="z-index:999;")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h3(class="modal-title", id="modal-title", style="text-align:left;") Gather the replies for each Reddit Post?
			
			div(class="modal-body" style="vertical-align:middle;margin-left:20px; margin-right:20px;overflow:auto;")
				div(id="modal-message")
					p 
						Your selected dataset contains hundreds/thousands Reddit post, and for each reddit post, it might have thousands of comments and replies. 
						| Hence, this process is very time consuming. Once you submit the request, we will start gathering the data in the background. Feel free to leave this page, 
						|but DO NOT terminate this session. Once the collection of comments is complete, we will shoot you an email.
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Dataset:
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control",id="dataset",disabled)
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") # of posts
						div(class="col-md-8 col-md-8 col-xs-12")
							input(class="form-control",id="length",disabled)
					div(class="form-group")
						label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Email Address:
						div(class="col-md-8 col-md-8 col-xs-12")
							input(id="email-alert", class="form-control", type="email", name="email-alert")
			div(class="modal-footer")
				button(class="btn btn-primary",id="rdCommentReq",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px") Request comments for each Post

				
				
script(src="bootstrap/js/customized/view_reddit_expand.js")
	