div(id="share-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                button(class="close", data-dismiss="modal") &times;
                h2(class="modal-title", id="modal-title", style="text-align:left;vertical-align:middle;") Share Link
            div(class="modal-body form")
                div(class="modal-message")
                    div(class="form-group")
                        p Copy and share the link below. Please note that the link will expire in 7 days.
                    div(class="form-group")
                        div(class="col-md-10 col-md-10 col-xs-12")
                            input(class="form-control" id="share-link", placeholder="Nothing to be shared yet")
                        div(class="col-md-2 col-md-2 col-xs-12")
                            button(class="btn btn-primary", onclick="copyToClipboard(`#share-link`);") copy

script.
    /*------------------------copy the error ---------------------------*/
    function copyToClipboard(textID) {
        $(textID).select();
        document.execCommand('copy');
    }
