
div(id="sitemap-match" class="modal fade" role="dialog")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close" data-dismiss="modal") &times;
				h2(class="modal-title",style="margin-left:30px;") Match
			
			div(class="modal-body",id="sitemap-list")
				
			div(class="modal-footer")
				button(class="btn btn-default" data-dismiss="modal") Close		
				
				
script(src="bootstrap/js/customized/view_sitemap.js")

