div(id="tag-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h2(class="modal-title", id="modal-title", style="text-align:left;vertical-align:middle;") Tag the Results
				//p <kbd>Ctrl + Alt + N</kbd>
			div(class="modal-body form")
				div(class="modal-message")
					div(class="form-group")
						p Please add a tag to identify/describe the analysis results. This is designed to help you
							|  memorize and locate the related items easier in the <b>HISTORY</b> page.
							|  <u>Note that if no tag is provided, only the default ID will be displayed.</u>
					div(class="form-group")
						label(class="control-label col-md-2 col-md-2 col-xs-12") ID
						div(class="col-md-10 col-md-10 col-xs-12")
							input(class="form-control" id="jobId", placeholder="Nothing to be tagged yet" disabled)
					div(class="form-group")
						label(class="control-label col-md-2 col-md-2 col-xs-12") Tag
						div(class="col-md-10 col-md-10 col-xs-12")
							input(id="tagName", class="form-control", data-role="tagsinput", placeholder="Type, Enter, Backspace, L/R")
			div(class="modal-footer")
				button(class="btn btn-yes", id="tag") Tag

script.
	$("#tag-modal").on('hidden.bs.modal', function() {
		$('#tagName').tagsinput('removeAll');
	});

script(src="bootstrap/js/customized/view_tag.js")
