nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
				
		div(id="navbar",class="navbar-collapse collapse")
			div(class="dropdown",id="topbar-home")
				button(type="button",id="topbar-home-btn", class="btn btn-default dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Analytics Tools &nbsp;
					span(class="caret")
				ul(class="dropdown-menu", aria-labelledby="dropdownMenu1")
					li 
						a(href="/")
							span(class="glyphicon glyphicon-home") 
							| home
					li(role="separator", class="divider")
					li 
						a(href="/NLP/preprocess") Text Preprocessing
					li 
						a(href="/NLP/sentiment") Sentiment Analysis
					li 
						a(href="/sklearn/cluster") Clustering
					li 
						a(href="/networkx") Network Analysis
			  
		
			ul(class="nav navbar-nav navbar-right")
				li
					a(href="/history",id="topbar-history")
						span(class="glyphicon glyphicon-time")
						| History
				li 
					a(href="/query",id="topbar-query")
						span(class="glyphicon glyphicon-search")
						| Social Media
					 
			form(id="sitemap",class="navbar-form navbar-right")
				input(id="sitemap-input", type="text",class="form-control",placeholder="Search within the tool...")



