nav(class="navbar navbar-inverse navbar-fixed-top")
    div(class="container-fluid")
        div(class="navbar-header")
            button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar",
            aria-expanded="true", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")

        div(id="navbar", class="navbar-collapse collapse")
            ul(class="nav navbar-nav navbar-left")
                li
                    a(href="./")
                        img(src="bootstrap/img/logo/smile-logos/small-logo.png", width=20)
                        | &nbsp SMILE

                unless DOCKERIZED
                    li
                        a(id="topbar-hub", href="")
                            i(class="fas fa-sign-out-alt")
                            | &nbsp;Exit SMILE
                li
                    a(href="account") Account
                li
                    a(href="citation") Cite
                li
                    a(href="https://socialmediamacroscope.org/feedback/report_problems") Report Problems


            ul(class="nav navbar-nav navbar-right")
                li
                    a(href="query", id="topbar-query")
                        i(class="fas fa-search")
                        | &nbsp;Get Data
                li
                    div(class="dropdown", id="topbar-analytics")
                        button(type="button", id="topbar-analytics-btn", class="btn btn-default dropdown-toggle",
                        data-toggle="dropdown", aria-haspopup="true", aria-expanded="true")
                            | Analytics Tools &nbsp;
                            span(class="caret")
                        ul(class="dropdown-menu", aria-labelledby="dropdownMenu1")
                li
                    a(href="history",id="topbar-history")
                        i(class="fas fa-history")
                        | &nbsp;Past Results

script(src="bootstrap/js/customized/view_topbar.js")
