div(id="export-modal",class="modal fade",role="dialog")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h2(class="modal-title") Export to your personal storage
			div(class="modal-body",style="text-align:left;vertical-align:middle;overflow:hidden;padding:50px 50px;")
				p Authorize with your own account
				div(id="googleDrive",style="display:block;")
					a(href="login/google", style="display:inline-block;margin:15px;") 
						img(src="bootstrap/img/logo/googledrive-sm-logo.png", width="25px",height="25px")
						| Google Drive
					button(class="btn btn-primary", id="googleDrive-export",style="display:none;",onclick="exportFiles(this.id);") export
				div(id="dropbox",style="display:block;")
					a(href="login/dropbox",style="display:inline-block;margin:15px;")
						img(src="bootstrap/img/logo/dropbox-sm-logo.png", width="30px",height="30px")
						| Dropbox
					button(class="btn btn-primary", id="dropbox-export",style="display:none;",onclick="exportFiles(this.id);") export
				div(id="clowder",style="display:block;")
					a(href="login/clowder",style="display:inline-block;margin:15px;") 
						img(src="bootstrap/img/logo/clowder-sm-logo.png", width="30px",height="30px")
						| Clowder
					button(class="btn btn-primary", id="clowder-export",style="display:none;",onclick="exportFiles(this.id);") export
			div(class="modal-footer")
				button(class="btn btn-primary",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px",onclick="terminate();") Terminate		
				
div(id="terminate-modal" class="modal fade" role="dialog")
	div(class="modal-dialog",style="width:600px;")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close" data-dismiss="modal") &times;
				h2(class="modal-title") Terminate This Session?
				p(style="font-size:16px") <b>Warning:</b> All data associated with this session will no longer be available!
			div(class="modal-footer")
				button(class="btn btn-primary",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px",onclick="exportOptions();") Yes	
				button(class="btn btn-primary",style="background-color:#1e325a;color:white;border-style:hidden;margin:3px 3px;",data-dismiss="modal") No

				
nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
				
		div(id="navbar",class="navbar-collapse collapse")
			ul(class="nav navbar-nav navbar-left")
				li
					a(id="topbar-query",href="./")
						span(class="glyphicon glyphicon-home")
						| Home 
				li
					a(id="topbar-hub",onclick="terminateWarning();")
						span(class="glyphicon glyphicon-log-out")
						| Terminate 
						
		
			ul(class="nav navbar-nav navbar-right")
					
				li
					a(href="history",id="topbar-history")
						span(class="glyphicon glyphicon-time")
						| History
				li 
					a(href="query",id="topbar-query")
						span(class="glyphicon glyphicon-search")
						| Social Media
						
				div(class="dropdown",id="topbar-home")
					button(type="button",id="topbar-home-btn", class="btn btn-default dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Analytics Tools &nbsp;
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="dropdownMenu1")
						
						li 
							a(href="NLP-preprocess") Text Preprocessing
						li 
							a(href="NLP-sentiment") Sentiment Analysis
						//li a(href="sklearn-cluster") Clustering
						
						li 
							a(href="networkx") Network Analysis		
					 
			form(id="sitemap",class="navbar-form navbar-right")
				input(id="sitemap-input", type="text",class="form-control",placeholder="Search within the tool...")

	
	
script.
	
	var pathArray = window.location.pathname.split('/');
	for (i=0; i<pathArray.length-1; i++){
		if (pathArray[i] === 'weber'){
			sessionID = pathArray[i+1];
			// session ID always is the one after weber
		}
	}
	var params={};location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi,function(s,k,v){params[k]=v})
	
	if(params['drive'] === 'googleDrive'){
		$("#googleDrive-export").show();
		$("#export-modal").modal('show');
	}else if(params['drive'] === 'dropbox'){
		$("#dropbox-export").show();
		$("#export-modal").modal('show');
	}else if(params['drive'] === 'clowder'){
		$("#clowder-export").show();
		$("#export-modal").modal('show');
	}
		
	function terminateWarning(){
		console.log("clicked");
		$("#terminate-modal").modal('show');
	}
	
	function exportOptions(){
		console.log("export");
		$("#terminate-modal").modal('hide');
		$("#export-modal").modal('show');		
	}
	
	function terminate(){
		var cleanData = function() {
		  return new Promise(function(resolve, reject) {
			console.log('first delete that session folder');
			$.ajax({
				type:'post',
				url:'delete', 
				data: {"type":"purge"},				
				success:function(data){
					if(data){
						resolve(data);
					}
				},
				error: function(jqXHR, exception){
						var msg = '';
						if (jqXHR.status === 0) {
							msg = 'Not connect.\n Verify Network.';
						} else if (jqXHR.status == 404) {
							msg = 'Requested page not found. [404]';
						} else if (jqXHR.status == 500) {
							msg = 'Internal Server Error [500].';
						} else if (exception === 'parsererror') {
							msg = 'Requested JSON parse failed.';
						} else if (exception === 'timeout') {
							msg = 'Time out error.';
						} else if (exception === 'abort') {
							msg = 'Ajax request aborted.';
						} else {
							msg = 'Uncaught Error.\n' + jqXHR.responseText;
						}
						$("#error").val(msg);
						$("#warning").modal('show');
						reject(msg);						
					} 
			});
		  });
		};

		cleanData().then(function() {
			window.location = "http://socialmediamacroscope.org/tools/smiletest/stop?sess=" + sessionID;
		}).catch(function(error) {
			console.log('oh no', error);
		});
	
	}
	
	
	function exportFiles(id){
		$.ajax({
			type:'post',
			url:'export', 
			data: {"id":id},				
			success:function(data){
				console.log(data);
			},
			error: function(jqXHR, exception){
				var msg = '';
				if (jqXHR.status === 0) {
					msg = 'Not connect.\n Verify Network.';
				} else if (jqXHR.status == 404) {
					msg = 'Requested page not found. [404]';
				} else if (jqXHR.status == 500) {
					msg = 'Internal Server Error [500].';
				} else if (exception === 'parsererror') {
					msg = 'Requested JSON parse failed.';
				} else if (exception === 'timeout') {
					msg = 'Time out error.';
				} else if (exception === 'abort') {
					msg = 'Ajax request aborted.';
				} else {
					msg = 'Uncaught Error.\n' + jqXHR.responseText;
				}
				$("#error").val(msg);
				$("#warning").modal('show');						
			} 
		});
	
	}
