div(id="export-modal",class="modal fade",role="dialog")
	div(class="modal-dialog",style="font-size:20px;width:800px")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal") &times;
				h2(class="modal-title") Export 
			div(class="modal-body",style="text-align:left;vertical-align:middle;overflow:auto;padding:20px 50px;")
				p Authorize with your own online storage account, and we will export a .zip file with <b>ALL</b> of your data associate with this session to your storage.
				| Make sure you have <b>at least 100MB</b> free space available on your remote drive.
				div(id="googleDrive",style="display:block;margin-bottom:15px;")
					a(href="login/google", id="google-auth", target="_blank", style="display:inline-block;margin:15px;background-color:#ddd;padding:5px 30px;border-radius:5px;color:black;box-shadow:6px 6px 5px #888888;") 
						img(src="bootstrap/img/logo/googledrive-sm-logo.png", width="25px",height="25px")
						|  Authorize Google Drive 
					button(class="btn btn-primary", id="googleDrive-export",style="display:none;",onclick="exportFiles(this.id);") export
					img(src="bootstrap/img/gifs/loading2.gif", class="export-loading", width="40px" style="display:none;")
					img(src="bootstrap/img/gifs/success.gif", class="export-success", width="30px" style="display:none;")
					input(class="auth-code", style="display:none;margin:15px;width:calc(90%)",placeholder=` Paste your code as instructed and press enter.`)
					a(id="embedded-link", target="_blank", style="display:none;padding:15px;") 
				
				div(id="dropbox",style="display:block;margin-bottom:15px;")
					a(href="login/dropbox", target="_blank", id="dropbox-auth",style="display:inline-block;margin:15px;background-color:#ddd;padding:5px 30px;border-radius:5px;color:black;box-shadow:6px 6px 5px #888888;")
						img(src="bootstrap/img/logo/dropbox-sm-logo.png", width="30px",height="30px")
						|  Authorize Dropbox
					button(class="btn btn-primary", id="dropbox-export",style="display:none;",onclick="exportFiles(this.id);") export
					img(src="bootstrap/img/gifs/loading2.gif", class="export-loading",width="40px" style="display:none;")
					img(src="bootstrap/img/gifs/success.gif", class="export-success", width="30px" style="display:none;")
					input(class="auth-code", style="display:none;margin:15px;width:calc(90%)",placeholder=` Paste your code as instructed and press enter.`)
					a(id="embedded-link", target="_blank", style="display:none;padding:15px;") 
				
				div(id="box",style="display:block;margin-bottom:15px;")
					a(id="box-auth",style="display:inline-block;margin:15px;background-color:#ddd;padding:5px 30px;border-radius:5px;color:black;box-shadow:6px 6px 5px #888888;")
						img(src="bootstrap/img/logo/box-sm-logo.png", width="30px",height="30px")
						|  Authorize Box
					button(class="btn btn-primary", id="box-export",style="display:none;",onclick="exportFiles(this.id);") export
					img(src="bootstrap/img/gifs/loading2.gif", class="export-loading",width="40px" style="display:none;")
					img(src="bootstrap/img/gifs/success.gif", class="export-success", width="30px" style="display:none;")
					a(id="embedded-link", target="_blank", style="display:none;padding:15px;") 
					
			div(class="modal-footer")
				button(class="btn btn-primary",id="terminate-btn", style="display:none;background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px",onclick="terminate();") Terminate		
				button(class="btn btn-primary",id="cancel-btn", style="display:none;background-color:#1e325a;color:white;border-style:hidden;margin:3px 3px;",data-dismiss="modal") Cancel
				
div(id="terminate-modal" class="modal fade" role="dialog")
	div(class="modal-dialog",style="width:600px;")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close" data-dismiss="modal") &times;
				h2(class="modal-title") Terminate This Session?
				p(style="font-size:16px") <b>Warning:</b> All data associated with this session will no longer be available!
			div(class="modal-footer")
				button(class="btn btn-primary",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px",onclick="exportOptions('terminate');") Yes	
				button(class="btn btn-primary",style="background-color:#1e325a;color:white;border-style:hidden;margin:3px 3px;",data-dismiss="modal") No

				
nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
				
		div(id="navbar",class="navbar-collapse collapse")
			ul(class="nav navbar-nav navbar-left")
				li
					a(id="topbar-home",href="./")
						span(class="glyphicon glyphicon-home")
						| Home 
				li
					a(id="topbar-hub",onclick="terminateWarning();")
						span(class="glyphicon glyphicon-log-out")
						| Terminate 
						
		
			ul(class="nav navbar-nav navbar-right")
					
				li
					a(href="",id="topbar-history")
						span(class="glyphicon glyphicon-time")
						| History
				li
					a(id="topbar-export")
						span(class="glyphicon glyphicon-cloud")
						| Export
				li 
					a(href="query",id="topbar-query")
						span(class="glyphicon glyphicon-search")
						| Social Media
						
				div(class="dropdown",id="topbar-analytics")
					button(type="button",id="topbar-analytics-btn", class="btn btn-default dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Analytics Tools &nbsp;
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="dropdownMenu1")
						
						li 
							a(href="NLP-preprocess") Text Preprocessing
						li 
							a(href="text-classification") Text Classification	
						li 
							a(href="NLP-sentiment") Sentiment Analysis
						li 
							a(href="networkx") Network Analysis		
					 
			form(id="sitemap",class="navbar-form navbar-right")
				input(id="sitemap-input", type="text",class="form-control",placeholder="Search within the tool...")

	script(src="bootstrap/js/customized/view_topbar.js")
	
