div(id="terminate-modal" class="modal fade" role="dialog")
	div(class="modal-dialog",style="width:600px;")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close" data-dismiss="modal") &times;
				h2(class="modal-title") Terminate This Session?
				p(style="font-size:16px") <b>Warning:</b> All data associated with this session will no longer be available!
			div(class="modal-footer")
				button(class="btn btn-primary",style="background-color:#ea4a36;color:white;border-style:hidden;margin:3px 3px",onclick="terminate();") Yes	
				a(href="https://socialmediamacroscope.org",target="_blank")
					button(class="btn btn-primary",style="background-color:#1e325a;color:white;border-style:hidden;margin:3px 3px;",id="reportButton") No
					
nav(class="navbar navbar-inverse navbar-fixed-top")
	div(class="container-fluid")
		div(class="navbar-header")
			button(type="button",class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="true", aria-controls="navbar")
				span(class="sr-only") Toggle navigation
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
				
		div(id="navbar",class="navbar-collapse collapse")
			ul(class="nav navbar-nav navbar-left")
				li
					a(id="topbar-hub",onclick="terminateWarning();")
						span(class="glyphicon glyphicon-log-out")
						| Back to Macroscope Hub 			
		
			ul(class="nav navbar-nav navbar-right")
					
				li
					a(href="history",id="topbar-history")
						span(class="glyphicon glyphicon-time")
						| History
				li 
					a(href="query",id="topbar-query")
						span(class="glyphicon glyphicon-search")
						| Social Media
						
				div(class="dropdown",id="topbar-home")
					button(type="button",id="topbar-home-btn", class="btn btn-default dropdown-toggle", data-toggle="dropdown", aria-haspopup="true", aria-expanded="true") Analytics Tools &nbsp;
						span(class="caret")
					ul(class="dropdown-menu", aria-labelledby="dropdownMenu1")
						li 
							a(href="./")
								span(class="glyphicon glyphicon-home") 
								| home
						li(role="separator", class="divider")
						li 
							a(href="NLP-preprocess") Text Preprocessing
						li 
							a(href="NLP-sentiment") Sentiment Analysis
						li 
							a(href="sklearn-cluster") Clustering
						li 
							a(href="networkx") Network Analysis		
					 
			form(id="sitemap",class="navbar-form navbar-right")
				input(id="sitemap-input", type="text",class="form-control",placeholder="Search within the tool...")

	
	
script.
	var pathArray = window.location.pathname.split('/');
	for (i=0; i<pathArray.length-1; i++){
		if (pathArray[i] === 'weber'){
			sessionID = pathArray[i+1];
			// session ID always is the one after weber
		}
	}
	
	
	function terminateWarning(){
		console.log("clicked")
		$("#terminate-modal").modal('show');
	}
	
	function terminate(){
		var cleanData = function() {
		  return new Promise(function(resolve, reject) {
			console.log('first delete that session folder');
			var x = new XMLHttpRequest();
			x.onreadystatechange = function(){
				if( x.status === 200 && x.readyState === 4) {
				  // Optional callback for when request completes
				  console.log(x.responseText);
				  resolve(x.responseText);
				}
				else{
					reject(x.status);
				}
			}
			x.open('GET', 'http://socialmediamacroscope.org/tools/deletefolder', true);
			//x.send('delFolder=/' + sessionID + '&listdir=data/sessions/&tmpl=component');
			x.send('delFolder=/437&listdir=data/sessions/&tmpl=component');
		  });
		};

		var terminateSession = function() {
		  return new Promise(function(resolve, reject) {
			console.log('Then terminate the session');
			var x = new XMLHttpRequest();
			x.onreadystatechange = function(){
				if( x.status === 200 && x.readyState === 4) {
				  // Optional callback for when request completes
				  console.log(x.responseText);
				  resolve(x.responseText);
				}
				else{
					reject(x.status);
				}
			}
			x.open('GET', 'http://socialmediamacroscope.org/tools/smiletest/stop', true);
			//x.send('sess=' + sessionID);
			x.send('sess=437');
		  });
		};

		cleanData().then(function() {
		  return terminateSession();
		}).catch(function(error) {
		  console.log('oh no', error);
		});
	
	}
	
