doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet")
		<!-- this is the customized search box style -->
		link(href="../bootstrap/css/search.css",rel="stylesheet")
		
		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		<!-- JQUERY -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="../bootstrap/js/bootstrap.min.js")
				
	body()
		
		<!-- top bar -->
		include ../components/topbar.pug
				
		<!-- auth -->
		div(id="auth-panel")
			p(style="font-size:50px; margin:30px 30px; color:white;") Authorization
			
			a(href='/login/twitter', class="button", id="twitter-auth") 
				img(src='../bootstrap/img/logo/twitter-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
				| Authorize with your Twitter account
		
			a(href='/login/es', class="button", id="es-auth")
				img(src='../bootstrap/img/logo/elasticsearch-sm-logo.png', width="30px",height="30px", style="margin-right:10px")
				| Authorize with your AWS ElasticSearch account
			
		
		<!-- warning -->
		include ../components/warning.pug
		if error
			script.
				$("#error").val(!{JSON.stringify(error)});
				$("#warning").modal('show');		
		script.
			if (!{JSON.stringify(success)}.indexOf('twitter') >=0){
				console.log($("#twitter-auth"));
				$("#twitter-auth").hide();
			}
			if (!{JSON.stringify(success)}.indexOf('reddit') >=0){
				console.log("done");
				$("#reddit-auth").hide();
			}
			if (!{JSON.stringify(success)}.indexOf('es') >=0){
				console.log("done");
				$("#es-auth").hide();
			}
	