doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet")
		<!-- this is the customized search box style -->
		link(href="../bootstrap/css/search.css",rel="stylesheet")
		
		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		<!-- JQUERY -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="../bootstrap/js/bootstrap.min.js")
		
		<!-- Include the plugin's CSS and JS: -->
		<script src="../bootstrap/js/bootstrap-multiselect.js"></script>
		<link rel="stylesheet" href="../bootstrap/css/bootstrap-multiselect.css" type="text/css"/>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
	
		script(src="../bootstrap/js/customized/query_pb.js")
		script(src="../bootstrap/js/customized/query_formValid.js")
		script(src="../bootstrap/js/customized/query_submit.js")
		
		script.			
			function setDate(){
				var current = new Date();
				var max = current.toISOString().slice(0,10);
				current.setDate(current.getDate()-7);
				var min = current.toISOString().slice(0,10);
				
				$("#until").attr('min', min);
				$("#until").attr('max', max);
			}
			
	body(onload="init()")
		<!-- top bar -->
		include ../components/topbar.pug
		include ../components/warning.pug
		include ../components/sitemap.pug
		
		div(class="searchPage",id="searchPage")
			<!-- logo -->
			div(class="row" id="header")
				img(src="../bootstrap/img/logo/queryPage-logo.png",width="800px",style="display:block;margin:auto auto;")
			
			<!-- search --->
			div(class="row")
				div(id="tabs")
					select(class="selectpicker show-tick" id="social-media" title="Choose a Platform..." data-width="220px")
						optgroup(label="Twitter")
							option(data-icon="glyphicon-envelope" value="queryTweet") Tweets
							option(data-icon="glyphicon-user" value="queryUser") Twitter Users
						optgroup(label="Twitter Stream Database")
							option(data-icon="glyphicon-envelope" value="streamTweet") Streamed Tweets
								
					include searchbox.pug
						
								
			<!-- prose -->
			div(class="row")
				div(class="prose")
					h2 GraphQL search engine
					h4 Search Against Twitter API and 
					h4 Twitter Streaming data stored in ElasticSearch
			
			<!-- footer -->
			div(class="row")
				div(class="footer")
					a(href="https://dev.twitter.com/rest/public/search")
						img(src='../bootstrap/img/logo/twitter-bg-logo.png', class="footerImg")
					a(href="https://aws.amazon.com/blogs/big-data/building-a-near-real-time-discovery-platform-with-aws/")
						img(src='../bootstrap/img/logo/elasticsearch-bg-logo.png',class="footerImg")
			
		<!-- popup modal save -->
		div(id="save" class="modal fade" role="dialog")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title")
							span(class="glyphicon glyphicon-floppy-save" style="font-size:20px;margin-left:5px") 
							| Save the result 
					
					div(class="modal-body" style="text-align:center;vertical-align:middle;")
						form(action='/email', name='email', method='post',class="form-horizontal",id="email")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Filename
								div(class="col-md-7 col-md-7 col-xs-12")
									input(class="form-control" id="filename" placeholder="filename")
							div(class="form-group")
								label(class="control-label col-md-4 col-md-4 col-xs-12",for="") Downloadable Files
								div(class="col-md-7 col-md-7 col-xs-12")
									div(id="display")
						div(class="loading" style="display:none")
							img(src="../bootstrap/img/loading2.gif", width="15%", height="15%", style="display:block; margin-left:auto; margin-right:auto; margin-top:10px")
					div(class="modal-footer")
						button(class="btn btn-primary" id="saveButton") Save
						button(class="btn btn-default" data-dismiss="modal") Close
		
		<!-- popup modal download-->
		div(id="success" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal" onclick="location.reload();") &times;
						h2(class="modal-title" id="modal-title") Download Your Search Results
					
					div(class="modal-body" style="vertical-align:middle;font-size:20px;")
						div(id="modal-download")
						
					div(class="modal-footer")
						a(href="/" class="btn btn-primary" style="background-color:#c84b49;border-style:hidden") Go To Analytics
						button(class="btn btn-default" data-dismiss="modal" onclick="location.reload();") Close
						

		<!-- side bar -->
		div(class="documentation",id="documentation")
			iframe(id="docIframe", src="../graphql-doc/schema/index.html",width="100%",scrolling="yes",style="padding-top: 40px;margin:0 0;")
							
							
							
							
							
							
							