parameters['rdComment']['subredditName:'] = $("#searchbox").val();
	parameters['rdComment']['extra:'] = parseInt($("#reddit_extra").val());
	parameters['rdComment']['fields'] = '';
	
	
	parameters['rdSearch']['query:'] = $("#searchbox").val();
	parameters['rdSearch']['count:'] = parseInt($("#reddit_count").val());
	parameters['rdSearch']['fields'] = '';
	
	parameters['rdSearch']['time:'] = $("#time").val();
	parameters['rdSearch']['sort:'] = $("#sort").val();
	
	parameters['rdReply']['id:'] = $("#searchbox").val();
	parameters['rdReply']['fields'] = '';
	
	
	parameters['rdSub']['query:'] = $("#searchbox").val();
	parameters['rdSub']['fields'] = '';

//-----------------------------------------------reddit getNewComments----------------------------------------------------------------
	$("#reddit_extra").change(function(){
		parameters['rdComment']['extra:'] = parseInt($("#reddit_extra").val());
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	//reddit comments
	$("#rdCommentFields").change(function(){
		fields = '';
		$.each($("#rdCommentFields").val(),function(i,val){
			fields += '\n\t\t\t' + val;
		});
		parameters['rdComment']['fields'] = fields;
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	
	//-----------------------------------------------reddit search content------------------------------------------------------------------
	$("#reddit_count").change(function(){
		parameters['rdSearch']['count:'] = parseInt($("#reddit_count").val());
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	
	//reddit search Content
	$("#rdSearchFields").change(function(){ 
		fields_string = '';
		fields = {BasicFields:[],Replies:[]};
			
		$.each($(this).find(':selected'),function(i,val){
			var label = $(val.parentNode)[0].label;
			fields[label].push(val.value);	  		
		});
		
		if(fields['BasicFields'].length !== 0){
			$.each(fields['BasicFields'],function(i,val){
				fields_string += '\n\t\t\t' + val;
				});
		}
		
		if (fields['Replies'].length !== 0){
			fields_string += '\n\t\t\treplies{' ;
			$.each(fields['Replies'],function(i,val){
				fields_string += '\n\t\t\t\t' + val;
			});
			fields_string += '\n\t\t\t}' ;
		}
 	
		parameters['rdSearch']['fields'] = fields_string;
  		Query = updateString(queryTerm,parameters);	
  		$("#input").val(`{\n\n` + Query +`\n\n}`);		
  	});
	
	$("#time").change(function(){
		parameters['rdSearch']['time:'] = $("#time").val();
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	$("#sort").change(function(){
		parameters['rdSearch']['sort:'] = $("#sort").val();
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	
	//---------------------------------------------reddit Search subreddits----------------------------------------------------------------
	$("#rdSubFields").change(function(){
		fields = '';
		$.each($("#rdSubFields").val(),function(i,val){
			fields += '\n\t\t\t' + val;
		});
		parameters['rdSub']['fields'] = fields;
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	
	//------------------------------------------ reddit getCompleteReplies-----------------------------------------------------------------
	$("#rdReplyFields").change(function(){
		fields = '';
		$.each($("#rdReplyFields").val(),function(i,val){
			fields += '\n\t\t\t' + val;
		});
		parameters['rdReply']['fields'] = fields;
		Query = updateString(queryTerm,parameters);
		$("#input").val(`{\n\n` + Query +`\n\n}`);
	});
	

//-	
						optgroup(label="Reddit")
							option(data-icon="glyphicon-file" value="searchContent") Search for Reddit Posts
							option(data-icon="glyphicon-plus" value="getCompleteReplies") Get the Complete Replies of Given Post
							option(data-icon="glyphicon-comment" value="getNewComments") Search for Reddit Comments within a Sub
							option(data-icon="glyphicon-tag" value="searchSubreddits") Search for Subreddit Informations based on name and description
						optgroup(label="ElasticSearch")
					//
<!-- reddit -->	
					div(class="reddit extra")
						div(class="form-group")
							<label class="label-control warning">Extra Count<span class="warningText">Reddit defaultly return 1000 comments! Adding extra might risk rate limit!</span></label>
							div(class="range range-node")
								input(type="range" min="5" max="5000" value="1000" step="1" id="reddit_extra" onchange="redditExtra.value=value")
								<output id="redditExtra">1000</output>
					div(class="reddit count")
						div(class="form-group")
							<label class="label-control warning">Count<span class="warningText">When the field "replies" are selected, every count needs 3 sec to fetch!</span></label>
							div(class="range range-node")
								input(type="range" min="1" max="1000" value="20" step="1" id="reddit_count" onchange="redditCount.value=value")
								<output id="redditCount">20</output>
																			
					<!-- subreddit -->
					div(class="reddit searchSubreddits")
						<label class="label-control">Select Fields</label>
						br
						select(multiple,id="rdSubFields",class="fields")
								option(value="header_img") header image
								option(value="header_title") header title
								option(value="over18") over 18? 
								option(value="public_description") public description 
								option(value="created") created
								option(value="description") description
								option(value="display_name") display name
								option(value="subscribers") subscribers number
								option(value="subreddit_type") subreddit type
								option(value="title") title
								option(value="url") url
																										
					<!-- Content -->
					div(class="reddit searchContent")
						div(class="form-group")
							<label class="label-control">time</label>
							select(class="form-control" id="time")
								option(value="all" checked) all
								option(value="hour") hour
								option(value="day") day
								option(value="week") week
								option(value="month") month
								option(value="year") year	
						div(class="form-group")
							<label class="label-control">sort</label>
							select(class="form-control" id="sort")
								option(value="relevance" checked) relevance
								option(value="hot") hot
								option(value="top") top
								option(value="new") new
								option(value="comments") comments
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="rdSearchFields",class="fields")
								optgroup(label="BasicFields")
									option(value="id") id
									option(value="author_name") author name
									option(value="created") created
									option(value="name") name
									option(value="num_reports") num reports
									option(value="num_comments") num comments
									option(value="over_18") over 18?
									option(value="permalink") permalink
									option(value="score") score
									option(value="selftext") selftext
									option(value="subreddit_id") subreddit id
									option(value="subreddit_name_prefixed") subreddit name prefixed
									option(value="thumbnail") thumbnail
									option(value="title") title
									option(value="url") url
									option(value="ups") ups
									option(value="downs") downs
								optgroup(label="Replies")
									option(value="comment_author_name") comment author name
									option(value="body") body
									option(value="comment_created") comment created at 
									option(value="controversiality") controversiality
									option(value="comment_downs") comment downs
									option(value="comment_ups") comment ups
									option(value="link_title") link title
									option(value="likes") likes
									option(value="comment_name") comment name
									option(value="comment_num_comments") num comments of current comment
									option(value="comment_num_reports") num reports of current comment
									option(value="comment_over_18") over 18?
									option(value="parent_id") parent id
									option(value="comment_score") score
									option(value="subreddit_type") subreddit type
									option(value="comment_ups") ups
					
					<!-- get Complete replies -->
					div(class="reddit getCompleteReplies")
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="rdReplyFields",class="fields")
								option(value="comment_author_name") comment author name
								option(value="body") body
								option(value="comment_created") comment created at 
								option(value="controversiality") controversiality
								option(value="comment_downs") comment downs
								option(value="comment_id") comment id
								option(value="link_url") link url
								option(value="link_permalink") link permalink
								option(value="likes") likes
								option(value="comment_name") comment name
								option(value="comment_num_comments") num comments of current comment
								option(value="comment_num_reports") num reports of current comment
								option(value="comment_over_18") over 18?
								option(value="parent_id") parent id
								option(value="comment_score") score
								option(value="subreddit_id") subreddit id
								option(value="subreddit_display_name") subreddit display name
								option(value="subreddit_name_prefixed") subreddit name prefixed
								option(value="subreddit_type") subreddit type
								option(value="comment_ups") comment ups
						
					<!-- search comment -->
					div(class="reddit getNewComments")
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="rdCommentFields",class="fields")
								option(value="comment_author_name") author name
								option(value="body") body
								option(value="comment_created") comment created at 
								option(value="controversiality") controversiality
								option(value="comment_downs") comment downs
								option(value="comment_id") comment id
								option(value="link_url") link url
								option(value="link_permalink") link permalink
								option(value="likes") likes
								option(value="comment_name") comment name
								option(value="comment_num_comments") num comments of current comment
								option(value="comment_num_reports") num reports of current comment
								option(value="comment_over_18") over 18?
								option(value="parent_id") parent id
								option(value="comment_score") score
								option(value="subreddit_id") subreddit id
								option(value="subreddit_display_name") subreddit display name
								option(value="subreddit_name_prefixed") subreddit name prefixed
								option(value="subreddit_type") subreddit type
								option(value="comment_ups") comment ups
						