div(class="input-group", id="adv-search")
	<!-- search box -->
	input(type="text", class="form-control", id="searchbox", placeholder="Search...")
				
<!-- search buttons -->
div(class="input-group-addon")
	div(class="btn-group")
		div(class="dropdown dropdown-lg")
			button(id="dropdownButton" type="button",class="btn btn-default dropdown-toggle" aria-expanded="false") 
				span(class="glyphicon glyphicon-cog")
				| advanced
			<!-- dropdown content start -->
			div(class="dropdown-menu dropdown-menu-right")
				br
				form(class="form-horizontal")
					<!-- tweet -->
					div(class="tweet")
						div(class="form-group")
							<label class="label-control warning">number of tweets
								<span class="warningText">Careful! Every 100 count is ONE http request, and you only have 180 over 15 minutes window</span></label>
							div(class="range range-node")
								input(type="range" min="100" max="18000" value="500" step="100" id="tweet-count" onchange="twtrangeNode.value=value")
								<output id="twtrangeNode">500</output>
						
						
						div(class="form-group")
							<label class="label-control"><span class="glyphicon glyphicon-calendar" style="margin-right:5px;"></span>Date Range (Until)
								<input type="checkbox" id="dateRange" value="dateRange">
							</label>
						div(class="form-group dateRange")
							<label class="control-label col-sm-1"> until </label>
							<div class="col-sm-11">
								input(class="form-control",type="date",id="until",onclick="setDate();")
							</div>
						
						div(class="form-group")
							<label class=""><span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>GEOCODE ENABLE
								<input type="checkbox" id="geocode" value="geocode">
							</label>
						div(class="form-group geocode")
							div(class="col-md-5" style="display:inline-block;")
								label Latitude
								input(class="form-control",type="number",step="0.0001",id="lat")
													
							div(class="col-md-5" style="display:inline-block;")
								label Longtitude
								input(class="form-control",type="number",step="0.0001",id="lon")
													
							div(class="col-md-2" style="display:inline-block;")
								label radius(mile)
								input(class="form-control",type="number",step="0.01",id="radius")
														
							div(class="col-md-12")
								iframe(id="googleMap" src="../googleMap/geolocation.html")
												
													
													
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="twtTweetFields",class="fields")
								optgroup(label="BasicFields")
									option(value="id") id
									option(value="id_str") id str
									option(value="created_at") created at  
									//option(value="text") text
									option(value="retweet_count") retweet count
									option(value="favorite_count") favorite count
									option(value="retweeted") retweeted
									option(value="favorited") favorited
									option(value="possibly_sensitive") possibly sensitive
									option(value="truncated") truncated
									option(value="lang") lang
									option(value="is_quote_status") is quote status
									option(value="source") source										
									option(value="in_reply_to_user_id_str") in reply to user id
									option(value="in_reply_to_status_id_str") in reply to status id
									option(value="in_reply_to_screen_name") in reply to screen name
								optgroup(label="AuthorInformation")
									option(value="author_id") author id
									option(value="author_id_str") author id str
									option(value="name") name
									option(value="screen_name") screen name
									option(value="description") description
									option(value="author_created_at") author created_at
									option(value="profile_image_url") profile image URL
									option(value="profile_banner_url") profile banner URL
									option(value="url") URL
									option(value="location") location
									option(value="tweets_count") tweets count
									option(value="followers_count") followers count
									option(value="friends_count") friends count
									option(value="listed_count") listed count
									option(value="favourites_count") favorites count
									option(value="statuses_count") statuses count
									option(value="time_zone") timezone
									option(value="protected") protected
									option(value="verified") verified
									option(value="is_translator") is translator
									option(value="contributors_enabled") contributors enabled
									option(value="geo_enabled") geo enabled
									option(value="lang") lang
								optgroup(label="TweetEntities")
									option(value="urls") URLs
									option(value="hashtags") hashtags
									option(value="user_mentions") user_mentions
														
					<!-- user -->
					div(class="user")
						div(class="form-group")
							<label class="label-control warning">number of users
								<span class="warningText">Careful! Every 20 count is ONE http request, and you only have 900 over 15 minutes window</span></label>
							div(class="range range-node")
								input(type="range" min="20" max="18000" value="100" step="20" id="twtUser-count" onchange="twtUserRange.value=value")
								<output id="twtUserRange">100</output>
						
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="twtUserFields",class="fields")
								optgroup(label="BasicFields")
									option(value="author_id") author id
									option(value="author_id_str") author id str
									option(value="name") name
									option(value="screen_name") screen name
									option(value="description") description
									option(value="author_created_at") author created_at
									option(value="profile_image_url") profile image URL
									option(value="profile_banner_url") profile banner URL
									option(value="url") URL
									option(value="location") location
									option(value="tweets_count") tweets count
									option(value="followers_count") followers count
									option(value="friends_count") friends count
									option(value="listed_count") listed count
									option(value="favourites_count") favorites count
									option(value="statuses_count") statuses count
									option(value="time_zone") timezone
									option(value="protected") protected
									option(value="verified") verified
									option(value="is_translator") is translator
									option(value="contributors_enabled") contributors enabled
									option(value="geo_enabled") geo enabled
									option(value="lang") lang
								optgroup(label="UserTimeline")
									option(value="id") tweet id
									option(value="created_at") tweet created at
									option(value="text") text
									option(value="retweet_count") retweet_count
													
					<!-- elastic search -->
					div(class="es-tweet")
						div(class="form-group")
							<label class="label-control warning">number of tweets
								<span class="warningText">Careful! Each 1000 is a http request</span></label>
							div(class="range range-node")
								input(type="range" min="1000" max="100000" value="5000" step="1000" id="perPage" onchange="perPage_rangeNode.value=value")
								<output id="perPage_rangeNode">5000</output>
						
						<!-- date -->
						div(class="form-group")
							<label class="label-control"><span class="glyphicon glyphicon-calendar" style="margin-right:5px;"></span>Filter based on DATE
								<input type="checkbox" id="es-dateRange" value="es-dateRange">
							</label>
						div(class="form-group es-dateRange")
							<label class="control-label col-sm-2"> start date</label>
							<div class="col-sm-10">
								input(class="form-control",type="date",id="start")
							</div>
							<label class="control-label col-sm-2"> end date</label>
							<div class="col-sm-10">
								input(class="form-control",type="date",id="end")
							</div>
						<!-- geocode -->
						div(class="form-group")
							<label class=""><span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>Filter based on GEOLOCATION
								<input type="checkbox" id="es-geocode" value="es-geocode">
							</label>
						div(class="form-group es-geocode")
							div(class="col-md-5" style="display:inline-block;")
								label Latitude
								input(class="form-control",type="number",step="0.0001",id="es-lat")
													
							div(class="col-md-5" style="display:inline-block;")
								label Longtitude
								input(class="form-control",type="number",step="0.0001",id="es-lon")
													
							div(class="col-md-2" style="display:inline-block;")
								label radius(mile)
								input(class="form-control",type="number",step="0.01",id="es-radius")
														
							div(class="col-md-12")
								iframe(id="googleMap" src="../googleMap/geolocation.html")
						<!-- popularity -->
						div(class="form-group")
							<label class=""><span class="glyphicon glyphicon-fire" style="margin-right:5px;"></span>Filter based on POPULARITY
								<input type="checkbox" id="es-popularity" value="geocode">
							</label>
						div(class="form-group es-popularity")
							<label class="label-control">author has followers larger than #</label>
							div(class="range range-node")
								input(type="range" min="10000" max="10000000" value="10000" step="1" id="followers_count" onchange="fc_rangeNode.value=value")
								<output id="fc_rangeNode">10000</output>
							<label class="label-control">author has statuses count larger than #</label>
							div(class="range range-node")
								input(type="range" min="100" max="10000" value="100" step="1" id="statuses_count" onchange="sc_rangeNode.value=value")
								<output id="sc_rangeNode">100</output>
						<!-- stream fields -->
						div(class="form-group")
							<label class="label-control">Select Fields</label>
							br
							select(multiple,id="twtStreamFields",class="fields")
								optgroup(label="ElasticSearchMetadata")
									option(value="_id") _id
									option(value="_type") _type
									option(value="_index") _index 
									option(value="_score") _score 
								optgroup(label="BasicFields")
									option(value="id") id
									option(value="id_str") id_str
									option(value="created_at") created at
									//option(value="text") text
									option(value="retweet_count") retweet count
									option(value="favorite_count") favorite count
									option(value="retweeted") retweeted
									option(value="favorited") favorited
									option(value="possibly_sensitive") possibly sensitive
									option(value="truncated") truncated
									option(value="lang") lang
									option(value="in_reply_to_user_id_str") in reply to user id str
									option(value="in_reply_to_status_id_str") in reply to status id str
									option(value="in_reply_to_screen_name") in reply to screen name
									option(value="timestamp_ms") timestamp ms
									option(value="mentions") mentions
									option(value="hashtags") hashtags
									option(value="urls") urls
									option(value="is_quote_status") is quote status
									option(value="emoticons") emoticons
									option(value="source") source
									option(value="sentiments") sentiments
									option(value="filter_level") filter level								
								optgroup(label="GeoLocation")
									option(value="lat") latitude
									option(value="lon") longitude
								optgroup(label="AuthorInformation")
									option(value="author_id") author id
									option(value="author_id_str") author id str
									option(value="name") name
									option(value="screen_name") screen name
									option(value="description") description
									option(value="author_created_at") author created_at
									option(value="profile_image_url") profile image URL
									option(value="profile_banner_url") profile banner URL
									option(value="url") URL
									option(value="location") location
									option(value="tweets_count") tweets count
									option(value="followers_count") followers count
									option(value="friends_count") friends count
									option(value="listed_count") listed count
									option(value="favourites_count") favorites count
									option(value="statuses_count") statuses count
									option(value="time_zone") timezone
									option(value="protected") protected
									option(value="verified") verified
									option(value="is_translator") is translator
									option(value="contributors_enabled") contributors enabled
									option(value="geo_enabled") geo enabled
									option(value="lang") lang				
								
					
					div(class="col-md-12")
						textarea(class="form-control", id="input", rows="15",placeholder="If you know GraphQL, try typing your own string! :-D" disabled style="display:none;") 
					div(class="col-md-12")
							button(type="button", class="btn btn-primary",onclick="modalPopUp('#input');",id="adv-search-btn") 
								span(class="glyphicon glyphicon-search")
								| Search	
							button(type="button", class="btn btn-info",id="expandDoc") 
								span(class="glyphicon glyphicon-tasks")
								| Help
											
			<!-- search button -->								
			button(type="button",class="btn btn-primary",id="simple-search-btn") 
				span(class="glyphicon glyphicon-search" aria-hidden="true")
				| Search
			