doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- this is for bootstrap 3! -->
		link(href="../bootstrap/css/bootstrap.min.css", rel="stylesheet")
		
		<!-- this is the customized dashboard style -->
		link(href="../bootstrap/css/customized/component.css",rel="stylesheet")
		link(href="../bootstrap/css/customized/customized.css",rel="stylesheet")
		
		<!-- font family -->
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		<!-- scripts -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
		script(src="../bootstrap/js/bootstrap.min.js")
		script(src="https://d3js.org/d3.v2.js")
		<!-- customized scripts -->
		script(src="../bootstrap/js/customized/view.js")
		
		

	body(onload="init();")
		include ../components/topbar.pug
		include ../components/warning.pug
		include ../components/clientside-warning.pug
		include ../components/sitemap.pug
		
		
		div(id="container-fluid")
				<!-- side bar -->
				div(class="col-sm-3 col-md-3 sidebar")
					ul(class="nav nav-sidebar")
						li <a><span class="glyphicon glyphicon-tasks  pull-left"></span>Overview</a>
							ul(class="nav child_menu" style="display:block;" id="side-configuration")
								li
									<a href="#config-anchor"><span class="glyphicon glyphicon-wrench pull-left"></span>Configuration</a>
								li
									<a href="#img-anchor"><span class="glyphicon glyphicon glyphicon-picture pull-left"></span>Chart</a>
								li
									<a href="#result-anchor"><span class="glyphicon glyphicon-zoom-in pull-left"></span>Result Preview</a>
							
						li(id='side-download-li', style="display:none;") 
							<a id="side-download-head"><span class="glyphicon glyphicon-download-alt pull-left"></span>Download</a> 
							ul(class="nav child_menu" style="display:block;" id="side-download")
								
		
		div(id="container-fluid")
			div(class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main")
						
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							h1 #{title}
					br
							
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="config-anchor")
								
							<!-- setting area -->							
							div(class="x_panel")
								div(class="x_title")
									h2 Configuration
								div(class="x_content")
									br
									block config-form					
						
					div(class="loading",style="display:none;")
						img(src="../bootstrap/img/loading.gif", width="400", height="400px",style="display:block; margin:auto;")
			
					<!-- img -->
					br
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="img-anchor")
							div(id="img-container")
						div(class="col-md-12 col-sm-12 col-xs-12")
							div(id="gaudge")
										
					<!-- result -->
					br
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							a(class="anchor" name="result-anchor")
							div(id="result-container")
							
					<!-- network graph -->
					div(class="row")
						div(class="col-md-12 col-sm-12 col-xs-12")
							div(id="d3js-network-container", style="display:none;")
								div(class="x_title")
									h2 Interactive Network Visualization (D3JS)
								div(class="x_content")
									div(style="padding:20px 20px;color:#333;background-color:#ccc;border-radius:6px;height:300px;")
										div(style="margin:20px 20px;")
											//img(src="/bootstrap/img/logo/img-materials/notes.png",width="25px",style="display:inline-block;")
											//h4(style=style="font-weight:600;display:inline;padding:0px 10px;vertical-align:bottom;") Notes:
											li mouseover <img src="/bootstrap/img/logo/img-materials/mouse.png" width="20px"/> the node will display the user screen name
											li mouseover <img src="/bootstrap/img/logo/img-materials/mouse.png" width="20px"/> over the edge will display the tweet
											li dragging <img src="/bootstrap/img/logo/img-materials/drag.png" width="20px"/> the node enabled
											li dragging <img src="/bootstrap/img/logo/img-materials/drag.png" width="20px"/> the node with <kbd>ctrl</kbd> pressed will fix the node in your desired location
											li scroll <img src="/bootstrap/img/logo/img-materials/scroll.png" width="20px"/> zoom-in and out disabled (temp)
										div(style="margin:20px 20px;")
											img(src="/bootstrap/img/logo/img-materials/tweet.png",width="25px",style="display:inline-block;")
											h4(id='author-display',style="font-weight:600;display:inline;padding:0px 10px;vertical-align:bottom;") Auhtor
											p(id='tweet-display',style="margin:10px 0px; padding:10px 20px;background-color:white; border:solid 1.5px;border-radius:5px;") ...
										
									<svg id="d3js-network-svg" width="100%" height="1000px" preserveAspectRatio="xMidYMin">
										<defs>
											<marker id="arrow" viewbox="0 -5 10 10" refX="10" refY="0" markerWidth="3" markerHeight="3" orient="auto">
												<path d="M0,-5L10,0L0,5Z">
											</marker>
										</defs>
									</svg>
								
		
		block customized-script
							
		
		
							
		
				
							
							
							
							
							
							
							
							
							
							
							
							
							