<!-- tweet -->
div(class="tweet")
	div(class="form-group")
		<label class="label-control warning">maximum number of tweets
			<span class="warningText">Careful! Every 100 count is ONE http request, and you only have 180 requests allowed over 15 minutes window</span></label>
		div(class="range range-node")
			input(type="range" min="100" max="18000" value="500" step="100" id="tweet-count" onchange="twtrangeNode.value=value")
			<output id="twtrangeNode">500</output>
	
	
	div(class="form-group")
		<label class="label-control"><span class="glyphicon glyphicon-calendar" style="margin-right:5px;"></span>Date Range
			<input type="checkbox" id="dateRange" value="dateRange">
		</label>
	div(class="form-group dateRange")
		<label class="control-label col-sm-2">start date</label>
		<div class="col-sm-10">
			input(class="form-control",type="date",id="until-start", disabled)
		</div>
		<label class="control-label col-sm-2">end date </label>
		<div class="col-sm-10">
			input(class="form-control",type="date",id="until",onclick="setDate();")
		</div>
	
	div(class="form-group")
		<label class=""><span class="glyphicon glyphicon-globe" style="margin-right:5px;"></span>GEOCODE ENABLE
			<input type="checkbox" id="geocode" value="geocode">
		</label>
	div(class="form-group geocode")
		div(class="col-md-5" style="display:inline-block;")
			label Latitude
			input(class="form-control",type="number",step="0.0001",id="lat")
								
		div(class="col-md-5" style="display:inline-block;")
			label Longitude
			input(class="form-control",type="number",step="0.0001",id="lon")
								
		div(class="col-md-2" style="display:inline-block;")
			label radius(mile)
			input(class="form-control",type="number",step="0.01",id="radius")
									
		div(class="col-md-12")
			iframe(id="openLayerMap" src="openLayerMap/geolocation.html")
							
								
								
	div(class="form-group")
		<label class="label-control">Select Fields</label>
		br
		select(multiple,id="twtTweetFields",class="fields")
			optgroup(label="BasicFields")
				option(value="id" selected) id
				option(value="id_str" selected) id str
				option(value="created_at" selected) created at  
				option(value="text" selected) text
				option(value="retweet_count" selected) retweet count
				option(value="favorite_count" selected) favorite count
				option(value="retweeted" selected) retweeted
				option(value="favorited" selected) favorited
				option(value="possibly_sensitive" selected) possibly sensitive
				option(value="truncated" selected) truncated
				option(value="lang" selected) lang
				option(value="is_quote_status" selected) is quote status
				option(value="source" selected) source										
				option(value="in_reply_to_user_id_str" selected) in reply to user id
				option(value="in_reply_to_status_id_str" selected) in reply to status id
				option(value="in_reply_to_screen_name" selected) in reply to screen name
			optgroup(label="AuthorInformation")
				option(value="author_id" selected) author id
				option(value="author_id_str" selected) author id str
				option(value="name" selected) name
				option(value="screen_name" selected) screen name
				option(value="description" selected) description
				option(value="author_created_at" selected) author created_at
				option(value="profile_image_url" selected) profile image URL
				option(value="profile_banner_url" selected) profile banner URL
				option(value="url" selected) URL
				option(value="location" selected) location
				option(value="tweets_count" selected) tweets count
				option(value="followers_count" selected) followers count
				option(value="friends_count" selected) friends count
				option(value="listed_count" selected) listed count
				option(value="favourites_count" selected) favorites count
				option(value="statuses_count" selected) statuses count
				option(value="time_zone" selected) timezone
				option(value="protected" selected) protected
				option(value="verified" selected) verified
				option(value="is_translator" selected) is translator
				option(value="contributors_enabled" selected) contributors enabled
				option(value="geo_enabled" selected) geo enabled
				option(value="author_lang" selected) author lang
			optgroup(label="TweetEntities")
				option(value="urls" selected) URLs
				option(value="hashtags" selected) hashtags
				option(value="user_mentions" selected) user_mentions
