doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		
		<!-- Style Sheets -->
		link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
		link(href="bootstrap/css/customized/customized.css",rel="stylesheet")
		link(href="bootstrap/css/customized/component.css",rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
		
		<!-- scripts -->
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
		script(src="https://www.gstatic.com/charts/loader.js")
		script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
		script(src="bootstrap/js/bootstrap.min.js")
		script(src="https://d3js.org/d3.v2.js")
		script(src="https://d3js.org/d3-color.v1.min.js")
		script(src="https://d3js.org/d3-interpolate.v1.min.js")
		script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
		
		<!-- customized -->
		script(src="bootstrap/js/customized/view.js")
		script(src="bootstrap/js/customized/warning_trigger.js")
		script(src="bootstrap/js/customized/modal_overlay.js")
		
		
	body
		include components/topbar.pug
		include components/sitemap.pug
		include components/warning.pug
		include components/clientside-warning.pug
		include components/cookie.pug
		include components/reddit-expand.pug
								
		div(class="container-fluid")
			div(class="row")
				div(class="col-sm-3 col-md-3 sidebar")
					h2(style="color:#ffffff;text-align:center;") History 
						img(src="bootstrap/img/logo/history-logo.png" width="50px", id="historyLogo", style="display:none;")
						img(src="bootstrap/img/gifs/loading5.gif",width="50px",id="historyListLoading")
					ul(class="nav nav-sidebar")
										
												
		div(class="container-fluid")
			div(class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main")
				div(id="background")
					div(class="col-md-12 col-sm-12 col-xs-12")
						p(style="text-align:center; margin-top:200px;font-size:20px;") 
							<span class="glyphicon glyphicon-hand-left"></span>Please Click the Past Job ID to View.
				div(id="loading",style="display:none;")
					div(class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:155px;")
						//p <span class="glyphicon glyphicon-refresh"></span>Please Wait. 
						img(src="bootstrap/img/gifs/loading3.gif", width="250px")
				
				<!-- title -->
				div(class="row")
					div(class="col-md-12 col-sm-12 col-xs-12")
						div(id="title-container")
				br
				<!-- overview -->
				div(class="row")
					div(class="col-md-12 col-sm-12 col-xs-12")
						div(id="overview-container")
						
				<!-- img -->
				br
				div(class="row")
					div(class="col-md-12 col-sm-12 col-xs-12")
						a(class="anchor" name="img-anchor")
						div(id="img-container")
					div(class="col-md-12 col-sm-12 col-xs-12")
						div(id="gaudge")
									
				<!-- result -->
				br
				div(class="row")
					div(class="col-md-12 col-sm-12 col-xs-12")
						a(class="anchor" name="result-anchor")
						div(id="result-container")
						
	
		<!-- popup modal delete -->
		div(id="delete" class="modal fade" role="dialog")
			div(class="modal-dialog")
				div(class="modal-content")
					div(class="modal-header")
						button(class="close" data-dismiss="modal") &times;
						h2(class="modal-title") 
							span(class="glyphicon glyphicon-trash" style="font-size:20px;margin-left:5px") 
							| Delete this Job? 
						input(id="folderURL",hidden)
						input(id="tab",hidden)
						
					div(class="modal-footer")
						button(class="btn btn-primary" id="deleteButton") Delete
						button(class="btn btn-default" data-dismiss="modal") Close
		
		
		script(src="bootstrap/js/customized/history_pb.js")
		script(src="bootstrap/js/customized/detect_cookie.js")
