doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        <!-- Style Sheets -->
        link(href="https://fonts.googleapis.com/css?family=Ubuntu:300", rel="stylesheet")
        link(href="bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="bootstrap/css/customized/customized.css",rel="stylesheet")
        link(href="bootstrap/css/customized/global.css",rel="stylesheet")
        link(rel="stylesheet",
            href="https://use.fontawesome.com/releases/v5.0.10/css/all.css",
            integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg",
            crossorigin="anonymous")

        <!-- scripts -->
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://www.gstatic.com/charts/loader.js")
        script(src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.js")
        script(src="bootstrap/js/bootstrap.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js")

        <!-- customized -->
        script(src="bootstrap/js/customized/warning_trigger.js")
        script(src="bootstrap/js/customized/modal_overlay.js")
        script(src="bootstrap/js/customized/parse_session.js")
    body
        include components/topbar.pug
        include components/export.pug
        include components/terminate.pug
        include components/warning.pug
        include components/clientside-warning.pug
        include components/cookie.pug
        include components/reddit-expand.pug
        include components/image-crawler
        include components/tag.pug
        include components/clowder.pug
        include components/share.pug

        div(class="container-fluid")
            div(class="row")
                div(class="col-sm-3 col-md-3 sidebar")
                    h2(style="color:#ffffff;text-align:center;") History
                        button(class="btn btn-primary pull-right", id="search-tag-invoke")
                            i(class="fas fa-search")
                        img(src="bootstrap/img/gifs/loading5.gif", width="50px", id="historyListLoading")
                    ul(class="nav nav-sidebar")

        div(class="container-fluid")
            div(class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main")
                div(id="background", style="width:800px;margin:auto auto;")
                    h4(style="margin:100px 0;text-align:center;")
                        i(class="far fa-hand-point-left")
                        |  &nbsp;Click the Past Job ID to View.
                    div(class="list-container")
                        input(class="form-control", placeholder="search by tag name", id="search-tag", style="display:inline;width:80%;")
                        button(class="btn btn-primary", id="search-tag-btn", style="display:inline;width:20%;margin-left:-3px;border-radius:0 3px 3px 0;vertical-align:unset;")
                            i(class="fas fa-search")
                            | &nbsp;search
                    div(id="search-tag-results")

                <!-- loading -->
                div(id="loading", style="display:none;")
                    div(class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:155px;")
                        img(src="bootstrap/img/gifs/loading3.gif", width="250px")

                <!-- title -->
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                    div(id="title-container")

                br
                <!-- overview -->
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                        div(id="overview-container")

                <!-- img -->
                br
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                        a(class="anchor" name="img-anchor")
                        div(id="img-container")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                        div(id="gaudge")

                <!-- result -->
                br
                div(class="row")
                    div(class="col-md-12 col-sm-12 col-xs-12")
                        a(class="anchor" name="result-anchor")
                        div(id="result-container")

        <!-- popup modal delete -->
        div(id="delete" class="modal fade" role="dialog")
            div(class="modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        button(class="close" data-dismiss="modal") &times;
                        h2(class="modal-title")
                            i(class="fas fa-trash-alt")
                            | &nbsp;Delete this Job?
                        input(id="tab", hidden)
                    div(class="modal-footer")
                        button(class="btn btn-yes" id="deleteButton") Delete
                        button(class="btn btn-default" data-dismiss="modal") Close

        script(src="bootstrap/js/customized/history_pb.js")
        script(src="bootstrap/js/customized/detect_cookie.js")
        //script(src="bootstrap/js/customized/hotkeys.js")
