doctype html
html
	head
		title scikit-learn f
		style(type='text/css').
			textarea{
				width: 600px;
				height: 400px;
			}
			h1{
				size:20px;
				color:red;
			}
			
		script(type='text/javascript').
			
			function displayData(){
				document.getElementById('data').value = !{JSON.stringify(display)}; //textare
			}

	body(onload="displayData();")
		
		h1 preview...
		p part of the prediction is shown in the text box
		
		<textarea id = "data"></textarea>
		br
		<img src="../#{imageURL}" />
		
		form(action='/sklearn/download', name='sklearn',method='post')
			input(type="hidden",value=fileURL,name="downloadURL")
			button(type='submit', class='btn btn-info') DOWNLOAD PREDICTED RESULT  