doctype html
html
	head
		title scikit-learn training
		style(type='text/css').
			textarea{
				width: 500px;
				height: 500px;
			}
			h1{
				size:20px;
				color:red;
			}
			
		script(type='text/javascript').
			
			function displayData(){
				document.getElementById('data').value = !{JSON.stringify(metrics)}; //textare
			}
			
			function downloadData(){
				var text = document.getElementById('data').value;
				var saveAsBlob = new Blob([text],{type:"text/plain"});
				var saveAsURL = window.URL.createObjectURL(saveAsBlob);
				var filename = document.getElementById('filename').value;
				
				var downloadLink = document.createElement("a");
				downloadLink.download = filename;
				downloadLink.innerHTML = "DOWNLOAD";
				downloadLink.href = saveAsURL;
				//downloadLink.onclick = destroyClickedElement;
				downloadLink.style.display = "none";
				document.body.appendChild(downloadLink);
				
				downloadLink.click();
			}

	body(onload="displayData();")
		h1 #{model}
		textarea(id = "data")
		table
			tr
				td filename
				td <input id="filename" placeholder="metrics.json" />
		input(type="button", id="download", value="save metrics", title="download the data", onclick="downloadData();")
		form(action='/sklearn/download', name='sklearn',method='post')
			input(type="hidden",value=downloadURL,name="downloadURL")
			button(type='submit', class='btn btn-info',value="lalala") DOWNLOAD MODEL 